<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DSZ</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
  <content src="index.html"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <hook src="node_modules/cordova-import-npm/scripts/importNpmPackages.js" type="before_prepare"/>
  <icon src="www\img\logo.png" platform="android" width="64" height="64" density="mdpi" />
  <preference name="webviewbounce" value="false" />
  <preference name="DisallowOverscroll" value="true" />
</widget>
