/* #mathsText,
#englishText,
#frenchText,
#biologyText,
#germanText,
#historyText,
#history-ptText,
#musicText,
#ethicsText,
#portugueseText,
#sportText,
#geographyText,
#chemestryText {
	font-size: 25px;
	display: none;
}
#mathsText.active,
#englishText.active,
#frenchText.active,
#biologyText.active,
#germanText.active,
#historyText.active,
#history-ptText.active,
#musicText.active,
#ethicsText.active,
#portugueseText.active,
#sportText.active,
#geographyText.active,
#chemestryText.active {
	display: block;
} */
.sidebar {
<<<<<<<< Updated upstream:src/www/css/homework.css
	min-width: 300px;
}
@media (max-width: 1024px) {
	.sidebar {
		max-width: 200px;
		min-width: 200px;
	}
}
/* Dropdown Button */
.dropbtn {
	background-color: #3498db;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer-º;
	height: 205px;
	width: 205px;
	border-radius: 15px;
========
  min-width: 300px;
}
@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
    min-width: 200px;
  }
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer-º;
  height: 205px;
  width: 205px;
  border-radius: 15px;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
<<<<<<<< Updated upstream:src/www/css/homework.css
	background-color: #2980b9;
========
  background-color: #2980b9;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
<<<<<<<< Updated upstream:src/www/css/homework.css
	position: relative;
	display: inline-block;
	margin: 15px;
========
  position: relative;
  display: inline-block;
  margin: 15px;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
<<<<<<<< Updated upstream:src/www/css/homework.css
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 205px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 15px;
========
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* Links inside the dropdown */
.dropdown-content a {
<<<<<<<< Updated upstream:src/www/css/homework.css
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
========
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
<<<<<<<< Updated upstream:src/www/css/homework.css
	background-color: #ddd;
	border-radius: 15px;
========
  background-color: #ddd;
  border-radius: 15px;
>>>>>>>> Stashed changes:www/css/homework.css
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
<<<<<<<< Updated upstream:src/www/css/homework.css
	display: block;
}

#maths {
	background-color: orange;
}
#english {
	background-color: #3498db;
}
#french {
	background-color: rgb(202, 202, 77);
}
#biology {
	background-color: green;
}
#german {
	background-color: rgb(193, 20, 20);
}
#history {
	background-color: lightseagreen;
}
#history-pt {
	background-color: rgb(113, 48, 30);
}
#music {
	background-color: darkslateblue;
}
#ethics {
	background-color: blueviolet;
}
#portuguese {
	background-color: darkblue;
}
#sport {
	background-color: greenyellow;
}
#geography {
	background-color: lightblue;
}
#chemestry {
	background-color: goldenrod;
========
  display: block;
}

#maths {
  background-color: orange;
}
#english {
  background-color: #3498db;
}
#french {
  background-color: rgb(202, 202, 77);
}
#biology {
  background-color: green;
}
#german {
  background-color: rgb(193, 20, 20);
}
#history {
  background-color: lightseagreen;
}
#history-pt {
  background-color: rgb(113, 48, 30);
}
#music {
  background-color: darkslateblue;
}
#ethics {
  background-color: blueviolet;
}
#portuguese {
  background-color: darkblue;
}
#sport {
  background-color: greenyellow;
}
#geography {
  background-color: lightblue;
}
#chemestry {
  background-color: goldenrod;
>>>>>>>> Stashed changes:www/css/homework.css
}
